<!DOCTYPE html>
<html class="js csstransforms supports csstransforms3d csstransitions svg">

<head profile="http://www.w3.org/1999/xhtml/vocab">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>SBM</title>

	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link href="/styles/site.css" rel="stylesheet">

	{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
	{{{isAdminEditorCSS user}}}

	{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
	<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body
	class="html front not-logged-in no-sidebars page-node page-node- page-node-356 node-type-front-page i18n-sv eu-cookie-compliance-processed">
	<header class="site-header-wrapper">
		<div class="pre-header barrier jquery-once-1-processed">
			<div class="pre-header-numbers-wrapper">
				<div class="pre-header__item customer-service"><a href="tel:0771615615"><span class="label">Kundservice:
						</span>0771-615 615</a></div>
				<div class="pre-header__item customer-emergency"><a href="tel:0771888990"><span class="label">Larmnummer
							Väghjälp:
						</span>0771-88 89 90</a></div>
			</div>
			<div class="pre-header-navigation-wrapper">
				<ul class="menu">
					<li class="first last leaf menu-mlid-12686"><a href="/trygghet-trafik" title="">Trygghet &amp; Trafik</a></li>
				</ul>
			</div>
		</div>
		<div class="site-header barrier">
			<div class="header__logo">

				<a href="/" id="logo" rel="home" title="Return to the SBM Försäkring AB home page"><img typeof="foaf:Image"
						src="https://www.sbmforsakring.se/sites/all/themes/mysafety/graphics/logo-sbm.svg"
						alt="SBM Försäkring AB logo" title="SBM Försäkring AB"></a></div>
			<div class="navigation-toggler">
				<i class="burger"><span class="bar"></span></i>
				Menu</div>
			<div class="site-navigation-wrapper">
				<div class="pre-header barrier jquery-once-1-processed">
					<div class="pre-header-numbers-wrapper">
						<div class="pre-header__item customer-service"><a href="tel:0771615615"><span class="label">Kundservice:
								</span>0771-615 615</a></div>
						<div class="pre-header__item customer-emergency"><a href="tel:0771888990"><span class="label">Larmnummer
									Väghjälp: </span>0771-88 89 90</a></div>
					</div>
					<div class="pre-header-navigation-wrapper">
						<ul class="menu">
							<li class="first last leaf menu-mlid-12686"><a href="/trygghet-trafik" title="">Trygghet &amp; Trafik</a>
							</li>
						</ul>
					</div>
				</div>
				<ul class="menu">
					<li class="first expanded menu-mlid-10761"><span title="" class="nolink">Försäkringar</span>
						<ul class="menu">
							<li class="first leaf menu-mlid-19591"><a href="/vagassistansforsakring">Vägassistansförsäkringar</a></li>
							<li class="leaf menu-mlid-19581"><a href="/forsakringar/bilplus">BilPlus</a></li>
							<li class="leaf menu-mlid-19586"><a href="/forsakringar/bilklok">BilKlok - för leasingbil</a></li>
							<li class="leaf menu-mlid-19551"><a href="/forsakringar/bilnyckel">Nyckelförsäkring</a></li>
							<li class="leaf menu-mlid-19561"><a href="/forsakringar/sjalvriskreducering-bilglas">Bilglasskada -
									självriskreducering</a></li>
							<li class="leaf menu-mlid-24906"><a href="/forsakringar/en-tryggare-vag-tillbaka">Vård och Krishjälp vid
									trafikolycka</a></li>
							<li class="last leaf menu-mlid-19546"><a href="/forsakringar/hemklok">HemKlok</a></li>
						</ul>
					</li>
					<li class="expanded menu-mlid-10776"><span title="" class="nolink">Kundservice</span>
						<ul class="menu">
							<li class="first leaf menu-mlid-12991"><a href="/kundservice/kontakta-oss">Kontakta oss</a></li>
							<li class="leaf menu-mlid-14951"><a href="/kundservice/anmal-skada">Anmäl skada</a></li>
							<li class="leaf menu-mlid-13506"><a href="/kundservice/betala-med-autogiro">Autogiro</a></li>
							<li class="leaf menu-mlid-24941"><a href="/kundservice/fa-din-post-fran-oss-digitalt">Få din post
									digitalt</a></li>
							<li class="leaf menu-mlid-13596"><a href="/faq" title="">Vanliga frågor</a></li>
							<li class="leaf menu-mlid-12811"><a href="/kundservice/ar-du-inte-nojd">Är du inte nöjd?</a></li>
							<li class="last expanded menu-mlid-19596"><span title="" class="nolink">Om personuppgifter</span>
								<ul class="menu">
									<li class="first leaf menu-mlid-20901"><a
											href="/om-personuppgifter/personuppgiftspolicy">Personuppgiftspolicy</a></li>
									<li class="leaf menu-mlid-20906"><a href="/cookies">Om cookies</a></li>
									<li class="last leaf menu-mlid-20931"><a href="/rattigheter">Rättigheter enligt GDPR</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="expanded menu-mlid-10786"><span title="" class="nolink">Om SBM</span>
						<ul class="menu">
							<li class="first leaf menu-mlid-12976"><a href="/om-sbm">Om SBM</a></li>
							<li class="leaf menu-mlid-12746"><a
									href="/om-sbm/forkopsinformation-om-forsakringsformedling">Försäkringsförmedling</a></li>
							<li class="leaf menu-mlid-12741"><a href="/om-sbm/en-kund-berattar">En kund berättar</a></li>
							<li class="last leaf menu-mlid-10791"><a href="/trygghet-trafik" title="">Trygghet &amp; Trafik</a></li>
						</ul>
					</li>
					<li class="last leaf menu-mlid-18161"><a href="/villkor">Försäkringsvillkor</a></li>
				</ul>
			</div>
			<div class="site-search-wrapper handheld-search-active">
				<form action="/" method="post" id="search-block-form" accept-charset="UTF-8">
					<div>
						<div class="container-inline">
							<h2 class="element-invisible">Search form</h2>
							<div class="form-item form-type-textfield form-item-search-block-form">
								<label class="element-invisible" for="edit-search-block-form--2">Sök </label>
								<input title="Enter the terms you wish to search for." placeholder="Sök på denna webbplats" type="text"
									id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128"
									class="form-text">
							</div>
							<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op"
									value="Sök" class="form-submit"></div><input type="hidden" name="form_build_id"
								value="form-Gl65SiBR3_QovEfd7v_vch9s1Fz25xu-mqvAK2_kmX0">
							<input type="hidden" name="form_id" value="search_block_form">
						</div>
					</div>
				</form>
			</div>
			<i class="search-icon"></i>
		</div>
	</header>

	<div id="body">
		<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
		{{#if messages}}
		<div id="flash-messages" class="container">
			{{#if messages.info}}
			<div class="alert alert-info">
				{{{flashMessages messages.info}}}
			</div>
			{{/if}}
			{{#if messages.success}}
			<div class="alert alert-success">
				{{{flashMessages messages.success}}}
			</div>
			{{/if}}
			{{#if messages.warning}}
			<div class="alert alert-warning">
				{{{flashMessages messages.warning}}}
			</div>
			{{/if}}
			{{#if messages.error}}
			<div class="alert alert-danger">
				{{{flashMessages messages.error}}}
			</div>
			{{/if}}
		</div>
		{{/if}}
		<!-- The content block should contain the body of your template's content-->
		{{{body}}}
	</div>

	<footer class="site-footer">
		<section class="footer-social-wrapper barrier">
			<div class="footer-social limiter">
				<a href="/kundservice/kontakta-oss" class="btn--large">Kontakta oss här</a>
				<h4 class="footer-social__title">Besök vår facebooksida</h4>
				<div class="footer-social-icons-wrapper">
					<a href="https://www.facebook.com/SBMForsakring/" class="footer-social__icon facebook" external="1"
						target="_blank" rel="noreferrer noreferrer">Facebook</a> </div>
			</div>
		</section>
		<section class="footer-main-wrapper grid-barrier">
			<div class="footer-main">
				<div class="footer-main-navigation-wrapper">
					<ul class="menu">
						<li class="first last expanded menu-mlid-12716"><span title="" class="nolink">KUNDSERVICE</span>
							<ul class="menu">
								<li class="first leaf menu-mlid-20911"><a href="/kundservice/kontakta-oss" title="">Kontakta oss</a>
								</li>
								<li class="leaf menu-mlid-12711"><a href="/faq" title="">Frågor och svar</a></li>
								<li class="last leaf menu-mlid-13491"><a href="/kundservice/anmal-skada" title="">Skadeanmälan</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="footer-newsletter-form-wrapper">
					<div class="node node-webform node-teaser view-mode-teaser  contextual-links-region">

						<div class="title">

							<h2>Vårt nyhetsbrev</h2>
						</div>
						<form class="webform-client-form webform-client-form-1201" novalidate="1" action="/vart-nyhetsbrev"
							method="post" id="webform-client-form-1201" accept-charset="UTF-8">
							<div>
								<div class="form-item webform-component webform-component-markup webform-component--markup">
									<p><span style="color: #ffffff;">Ange din e-post och få våra nyheter och erbjudanden.</span></p>
								</div>
								<div class="form-item webform-component webform-component-email webform-component--din-e-post">
									<label for="edit-submitted-din-e-post">Din e-post <span class="form-required"
											title="är obligatoriskt">*</span></label>
									<input required="required" class="email form-text form-email required" placeholder="Din e-postadress"
										type="email" id="edit-submitted-din-e-post" name="submitted[din_e_post]" size="60">
								</div>
								<div class="form-item webform-component webform-component-markup webform-component--link">
									<p><a href="/node/2261">Så hanterar vi dina personuppgifter </a></p>

								</div>
								<input type="hidden" name="details[sid]">
								<input type="hidden" name="details[page_num]" value="1">
								<input type="hidden" name="details[page_count]" value="1">
								<input type="hidden" name="details[finished]" value="0">
								<input type="hidden" name="form_build_id" value="form-NU8sdzor3r9Z4bQmTrE-fyjUKCeSk9mCKerSGYLBVlw">
								<input type="hidden" name="form_id" value="webform_client_form_1201">
								<input type="hidden" name="honeypot_time"
									value="1600291581|KDShqRbj40rD2NqfPKFfrrVxKnBR7t11bFHxp81Oefg">
								<div class="url-textfield">
									<div class="form-item form-type-textfield form-item-url">
										<label for="edit-url">Leave this field blank </label>
										<input autocomplete="off" type="text" id="edit-url" name="url" value="" size="20" maxlength="128"
											class="form-text">
									</div>
								</div>
								<div class="form-actions"><input class="webform-submit button-primary form-submit" type="submit"
										name="op" value="Skicka"></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<section class="footer-navigation-wrapper barrier">
			<div class="footer-navigation limiter">
				<span class="footer-copyright">© SBM Försäkring AB</span>
				<div class="footer-help-navigation-wrapper">
					<ul class="menu">
						<li class="first leaf menu-mlid-13446"><a href="/cookies" title="Om cookies">Om cookies</a></li>
						<li class="leaf menu-mlid-13451"><a href="/om-personuppgifter/personuppgiftspolicy"
								title="Om hantering av personuppgifter enligt GDPR">Personuppgiftspolicy</a></li>
						<li class="last leaf menu-mlid-13456"><a href="/sitemap.xml" title="Sitemap">Sitemap</a></li>
					</ul>
				</div>
			</div>
		</section>
	</footer>

	{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
	<script src="/js/jquery/jquery-2.1.4.min.js"></script>
	{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
	<!--<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>-->

	<!--<script type="text/javascript" src="/js/js_CzpiqArpFPwX1d6oT2IgqWdIpCSqaalhIW7Bsf8eXWg.js"></script>-->

	{{{isAdminEditorJS user}}}
</body>

</html>